::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #efe0fc;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/* PrimeReact custom classes */
.filter-calender [data-pc-name="inputtext"] {
    border-radius: 0.75rem;
    @apply w-full rounded-r-none bg-[#F7F7F7] !border-[#EEEEEE];
}

.filter-calender [data-pc-name="button"] {
    background-color: #f7f7f7;
    color: black;
    padding: 10px;
    border-radius: 0 0.75rem 0.75rem 0;
    border: 1px solid #eeeeee;
    border-left: none;
    outline: none;
    box-shadow: none;
}

.filter-calender [data-pc-name="button"] > svg {
    width: 20px;
    height: 20px;
}

.filter-calender-day [data-p-highlight="true"] {
    background-color: var(--color-field);
    color: var(--color-primary);
}

.date-picker [data-pc-name="inputtext"] {
    background-color: #f7eeff;
    color: black;
    border-radius: 0.75rem 0 0 0.75rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    @apply w-full rounded-r-none;
}

.date-picker [data-pc-name="button"] {
    background-color: #f7eeff;
    color: black;
    border-radius: 0 0.75rem 0.75rem 0;
    border: none;
    outline: none;
    box-shadow: none;
}

.date-picker [data-pc-name="button"] > svg {
    width: 20px;
    height: 20px;
}

.create-job-editor .ql-editor {
    padding: 10px 5px;
    max-height: 65vh;
    overflow-y: auto;
    word-break: break-all;
}

.create-job-editor .ql-editor::-webkit-scrollbar {
    display: none;
}

.view-job-editor b {
    font-weight: bold !important;
}

.view-job-editor strong {    
    font-weight: bold !important;
}

.view-job-editor u {
    text-decoration: underline !important;
}

.view-job-editor i {
    font-style: italic !important;
}

.view-job-editor ul {
    list-style-type: disc !important;
    list-style: inside;
}

.view-job-editor li[data-list="bullet"] {
    list-style-type: disc !important;
    list-style: inside;
}

.view-job-editor li[data-list="ordered"] {
    list-style-type: decimal !important;
    list-style: inside;
}

@media screen and (max-width: 768px) {
    .create-job-editor .ql-editor {
        max-height: 70vh;
    }
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1440px) {
  .card-custom-text {
    font-size: 13px;
  }
  .custom-plan-name{
    font-size: 23px;
  }.custom-credit-text{
    font-size: 13px;
  }
}

@media (min-width: 1440px) and (max-width: 1535px) {
  .credits-text {
    font-size: 13px !important;
  }
}

@media (min-width: 1335px) and (max-width: 1440px) {
  .grid-1335-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) and (max-width: 1320px) {
  .grid-1280-1320-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 713px) {
  .grid-640-713-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 381px) {
  .card-view {
    min-width: 200px;
  }

  .head-score {
    max-width: 115px;
  }

  .premium-icon {
    display: none;
  }

  .mobile-size {
    height: 20px;
  }

  .saral-text {
    margin-left: 20px;
    width: 500px;
  }
}

@media (min-width: 1340px) and (max-width: 1430px) {

  .container {
    padding : 14px 80px;
  }
}

@media (min-width: 1138px) and (max-width: 1320px) {

  .container {
    padding : 14px 20px;
  }
}

@media (min-width: 850px) and (max-width: 1025px) {

  .container {
    padding : 14px 45px;
  }
}

@media (min-width: 1160px) and (max-width: 1315px) {

  .container {
    padding : 14px 60px;
  }
}

@media (min-width: 319px) and (max-width: 380px) {

  .card-mobile {
    padding : 55px 10px;
  }
}

@media (min-width: 990px) and (max-width: 1020px) {

  .ai-container {
    padding :0px 175px;
  }
}

@media (min-width: 710px) and (max-width: 989px) {

  .ai-container {
    padding :0px 40px;
  }
}

@media (min-width: 1109px) and (max-width: 1786px) {

  .ai-container {
    padding :0px 45px;
  }
}

@media (min-width: 319px) and (max-width: 360px) {

.editor-occ {
  width: 107px;
  height: 30px;
}
}

